{% load cache %}
<!DOCTYPE html>
<html>
    <head>
        <title>Album list</title>
    </head>
    <body>
        {% cache 29 sidebar %}
            <section>
                <ul>
                    <li>Home</li>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </section>
        {% endcache %}
        <table cellspacing="30" border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>Album</th>
                    <th>Artists</th>
                </tr>
            </thead>
            <tbody>
                {% for album in object_list %}
                    <tr>
                        <td>{{ album.name }}</td>
                        <td>{{ album.artist }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <caption>
                <small>Album list {% if result %} {{ result }} {% endif %} </small>
            </caption>
        </table>
    </body>
</html>